@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

html,
body {
    height: 100%;
    width: 100%;
    color: #343741;
    background: #f4f5f7;
}
